@use 'base/variables' as v;
@use 'base/mixins' as m;


.costos,
.ingresos,
.notificaciones{
    margin-top: 0;
    font-size: 1.5rem;
    margin: 2rem 0;
    max-height: 30rem;
    overflow: auto;
    margin-top: 0;
    
 
    //box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.imagenes{
    img{
        width: 200px; 
        height: 200px; 
        object-fit: cover; 
    }
}

.nav-tabs .active-nav{
    color:  #3c8dbc !important;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.color-texto{
    color:#495057  !important;
}